.pihi_table	{ border-collapse: collapse; }

.pihi_table td	{ padding: 3px 5px; border: 1px solid white;	}
.pihi_table tr:nth-child(odd) { background-color: #eee;	}
.pihi_table tr:nth-child(even) td {  border: 1px solid #eee !important;	}
.pihi_table tr td:first-child { vertical-align: top; font-weight: bold;}

